.scoreboard {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  align-items: center;
}

.group-content {
  width: 500px;
  flex: 1;
  height: 100%;
  display: flex;

  &-left, &-right {
    width: 50%;
  }
}
