.player-list {
  margin: 10px 0;

  .item-enter {
    opacity: 0;
  }

  .item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .item-exit {
    opacity: 0;
  }

  .item-exit-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .item-exit-done {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
}
